
@{
    <title>Tìm Kiếm</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tìm Kiếm</h2>
<form method="post">
    MaKH: <input type="text" name=" MaKH" /><br />
    <input type="submit" value="Tìm Kiếm" class="btn btn-default" />
    <button type="button" onclick="location.href='@Url.Action("Index", "DSKhachHang")'" class="btn btn-default">Trở Về</button>
</form>