
@{
    <title>Tìm Kiếm</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tìm Kiếm</h2>
<form method="post">
    MaPhanXuong: <input type="text" name=" MaPhanXuong" /><br />
    <input type="submit" value="Tìm Kiếm" class="btn btn-default" />
    <button type="button" onclick="location.href='@Url.Action("Index", "DSPhanXuong")'" class="btn btn-default">Trở Về</button>
</form>